<mat-dialog-content>
  <div class="row mx-0 gx-0 gx-lg-1 row-cols-2 row-cols-md-1 row-cols-4 justify-content-center">
    <div class=" col mb-0">
      <div class="card h-100 py-0 px-1 border-0">
        <!-- Sale badge-->
        <div class="badge bg-warning text-dark position-absolute"
             style="font-size:24px; top: 0.1rem; left: 0.1rem">{{product.price}}грн
        </div>
        <div class="badge bg-white position-absolute"
             style="font-size:24px; top: 0.1rem; right: 0.1rem"
          [class.text-success]="product.status==='В наявності'"
          [class.text-danger]="product.status!='В наявності'"
        >{{product.status}}
        </div>
        <!-- Product image-->
        <img class="card-img-top" src="{{product.file_name}}" alt="..."/>
        <!-- Product details-->
        <div class="card-body p-0">
          <div class="text-center">
            <!-- Product name-->
            <h6 class="fw-bolder text-start text-dark">{{product.details}}</h6>
            <!-- Product price-->
          </div>
        </div>
        <!-- Product actions-->
          <mat-form-field color="primary" appearance="outline" style="padding-bottom:0px;margin-bottom: 0px; margin: auto; align-content: center; width: 90px">
            <mat-label>Кількість</mat-label>
            <input class="text-center" matInput
                   (keydown.enter)="AddProductToCart()"
                   [(ngModel)]="qtyOrder">
          </mat-form-field>
        <!-- Product actions-->
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button class="btn mx-2 btn-success align-center"
          [disabled]="qtyOrder==0"
          (click)="AddProductToCart()">У кошик</button>
  <button class="btn mx-2 btn-danger align-center" (click)="onCancel()">Відміна</button>
</mat-dialog-actions>
