 <div class="row gx-1 gx-lg-1 row-cols-2 row-cols-md-3 row-cols-4 justify-content-center">
    <div class=" col mb-5">
      <div class="shadow-lg p-3 mb-5 bg-white rounded card h-100" >
        <!-- Sale badge-->
        <div class="badge bg-warning text-dark position-absolute"
             style="top: 0.5rem; left: 0.5rem">100грн
        </div>

        <div class="badge bg-danger text-white position-absolute pointer"
             style="top: 0.5rem; right: 0.5rem">X
        </div>
        <!-- Product image-->
        <img class="card-img-top" src="{{product.file_name}}" alt="..."/>
        <!-- Product details-->
        <div class="card-body p-0">
          <div class="text-center">
            <!-- Product name-->
            <h5 class="fw-bolder">{{product.name}}</h5>
            <!-- Product price-->
            <h5 class="fw-bolder text-primary"
            >{{product.price}}$</h5>
          </div>
        </div>
        <!-- Product actions-->
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
          <div class="text-center"><a class="btn btn-success mt-auto" href="#">У кошик</a>
          </div>
        </div>

      </div>
    </div>
    <div class="col mb-5" >
      <h5 class="fw-bolder">{{product.details}}</h5>
      <p></p>
      <h5 class="fw-bolder"
          [class.text-success]="product.status==='В наявності'"
          [class.text-danger]="product.status!='В наявності'"
      >{{product.status}}</h5>
    </div>
  </div>

