<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container px-4">
    <b class="navbar-brand text-primary" style="font-size:24px">TOP МЕДТЕХНІКА</b>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation"><span
      class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-0 ">
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Головна</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="#!">Контакти</a></li>
        <li class="nav-item"><a class="nav-link" href="#!">Доставка</a></li>
      </ul>
      <form class="d-flex">
        <button class="btn btn-outline-dark" type="submit">
          <i class="bi-cart-fill me-1"></i>
          Cart
          <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
        </button>
      </form>
    </div>
  </div>
</nav>
<!-- Header-->
<header class="bg-white py-1">

  <div class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white"
    style="background-image: url('assets/image/logo.png');">
    <div class="text-center ">
<!--      <img class="card-img-top" src="assets/image/logo.png" alt="..."/>-->
      <h1 class="display-4 fw-bolder" style="color: #ffca2c">ТОП МЕДТЕХНІКА</h1>
      <p class="lead fw-bold mb-0" style="color: #86b7fe">Продукти за оптовими цінами</p>
    </div>
  </div>
</header>
<!-- Section-->
<app-products></app-products>
<!-- Footer-->
<footer class="py-5 bg-dark">
  <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website
    2022</p></div>
</footer>
</body>
</html>
