<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container px-4">
    <b class="navbar-brand text-primary" style="font-size:24px">ОПТ МЕДТЕХНІКА</b>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation"><span
      class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-0 ">
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Головна</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="#!">Контакти</a></li>
        <li class="nav-item"><a class="nav-link" href="#!">Доставка</a></li>
      </ul>
      <form class="d-flex">
        <button class="btn btn-outline-dark" type="submit">
          <i class="bi-cart-fill me-1"></i>
          Кошик
          <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
        </button>
      </form>
    </div>
  </div>
</nav>
<!-- Header-->
<header class="bg-white py-1">
  <div class="bg-image p-5 text-center shadow-1-strong rounded mb-1 text-white"
    style="background-image: url('assets/image/logo.png');">
    <div class="text-center ">
      <h1 class="display-4 text-warning fw-bolder ">ОПТ МЕДТЕХНІКА</h1>
      <p class="lead fw-bold text-white mb-0">Товари за оптовими цінами</p>
    </div>
  </div>
</header>
<!-- Button menu-->
<div class="container text-center px-4 px-lg-5 mt-1">
    <button type="button" class="shadow p-3 mb-2 rounded btn btn-md py-2 mx-2
    px-2 btn-outline-primary " (click)="showProductsByCategory(category)"
            *ngFor="let category of categories"
    [class.active]="category===selectedCategory">
    {{category.name}}</button>
  </div>
<!-- Section-->
<app-products></app-products>
<!-- Footer-->
<footer class="py-5 bg-primary">
  <div class="container"><p class="m-0 text-center text-white">Copyright &copy; My Website
    2023</p></div>
</footer>
</body>
</html>
